@font-face {font-family: "CastorOneW01-Regular";
  src: url("https://db.onlinewebfonts.com/t/0dbc8be51d0d159062bfbf0cde39a4dc.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/0dbc8be51d0d159062bfbf0cde39a4dc.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://db.onlinewebfonts.com/t/0dbc8be51d0d159062bfbf0cde39a4dc.woff2") format("woff2"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/0dbc8be51d0d159062bfbf0cde39a4dc.woff") format("woff"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/0dbc8be51d0d159062bfbf0cde39a4dc.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://db.onlinewebfonts.com/t/0dbc8be51d0d159062bfbf0cde39a4dc.svg#CastorOneW01-Regular") format("svg"); /* iOS 4.1- */
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main, .main {
  flex: 1;
}

section {
  padding-top: 56px;
}

.box-container {
  width: 100%;
}

.box-content {
  height: 0;
  width: 100%;
  padding-bottom: 53%;
  background-image: url("../img/ararangua-sc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#login .box-content {
  margin-top: -75px;
  padding-bottom: 47%;
}

.font-ft {
  font-family: "CastorOneW01-Regular";
  font-size: 2.25rem !important;
}

.material-icons-outlined {
  vertical-align: bottom;
}

.footer {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  z-index:1000;
}
  
.footer a {
  color: #f2f2f2;
  text-decoration: none;
}

.footer a:hover {
  color: rgb(200, 200, 200);
}